.loading-icon-center {
    position: fixed;
    left: 0;
    right: 0;
    top: 40%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1001;
}

.loading-background {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
}
