.App-header {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #d35454;
    background-image: url(../../assets/backgrounds/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

@media (max-height: 800px) {
    .App-header {
        min-height: 580px;
    }
}

.App-Birthday-header {
    background-image: url(../../assets/backgrounds/bday-bg.png) !important;
    height: calc(100vh - 64px - 40px);  /* full screen - navbar height - bottom anchor thingy*/
}

#manotomo1 {
    position: absolute;
    left: 10px;
    bottom: 50px;
    z-index: 0;
}

#manotomo2 {
    position: absolute;
    right: 10px;
    bottom: 50px;
    z-index: 0;
}

.birthday-card {
    left: 0vw !important;
    z-index: 2;
    animation: fadeIn 4s;
}

@media (max-width: 700px) {
    #manotomo1 {
        width: calc(100% - 10px);
        max-width: 471px;
        top: 160px;
    }
    #manotomo2 {
        opacity: 0;
    }
}

@media (max-width: 400px) {
    #manotomo1 {
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
