.App-header {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #d35454;
    background-image: url(../../assets/backgrounds/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

@media (max-height: 800px) {
    .App-header {
        min-height: 580px;
    }
}

.App-Birthday-header {
    background-image: url(https://cdn.discordapp.com/attachments/745063266694201444/770662475015651338/HB_Aloe.png) !important;
    height: calc(100vh - 40px);  /* full screen - navbar height - bottom anchor thingy*/
    background-size: 100%;
    background-color: #ffffff;
    background-position: center center;
}

#manotomo1 {
    position: absolute;
    width: 400px;
    left: 10px;
    bottom: 50px;
    z-index: 0;
}

#manotomo2 {
    position: absolute;
    width: 200px;
    right: 10px;
    bottom: 50px;
    z-index: 0;
}

.birthday-card {
    z-index: 2;
    animation: fadeIn 4s;
    max-width: 500px;
    position: relative;
    left: 0px;
}

.bday-msg-container {
    height: 100%;
    background-color: #fd418d;
}

@media (max-width: 700px) {
    #manotomo1 {
        bottom: 50px;
    }
    #manotomo2 {
        opacity: 0;
    }
    .birthday-card {
        position: relative;
        left: 0px;
        max-width: 100%;
    }
    .App-header {
    }
    /*Handle mobile layouts since everything is freaking tiny*/
    .community-message-card {
        margin-top: 0px !important;
    }
}

@media (max-width: 500px) {
    #manotomo1 {
        opacity: 0;
        width: 0px;
    }
    #manotomo2 {
        width: 0px;
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
