.wrapper-overlay {
    padding: 2rem;
}

.game-container {
    width: 100%;
    height: 75vh;
}

.game-tag {
    width: 100%;
    height: 100%;
}

.btn {
    background: transparent;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;

    opacity: 1;
    transition: opacity 300ms ease;
}

.touched {
    opacity: 0.5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
