@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.message-card {
    display: inline-block;

    width: 100%;
    min-height: 100px;

    padding: 10px;

    position: relative;

    margin-bottom: 1rem;

    overflow: hidden;

    list-style-type: none;
    object-fit: fill;

    background-repeat: no-repeat;
    background-size: cover;
}

.message-card-text {
    display: block;
    top: 0;
}
