.root {
    max-width: 400px;
    background-image: url(../../../assets/card2.png);
    background-repeat: no-repeat;
    background-color: #fd418d;
}
.media {
    height: 650px;
}
.iconSize {
    height: 100px;
}