.navbar {
    width: 100%;
    /*height: 75px;*/

    position: fixed;
    top: 0;
    left: 0;
		z-index: 1;

    box-sizing: border-box;
    padding: 0 5vw;

    display: flex;
		flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: #29222f;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);

    font-size: 2.125rem;
    color: white;
}

.navbar > * {
    flex: 0 0 auto;
}

.navbar > .title {
    flex-grow: 1;
    margin-left: 16px;
}

.navbar > .icons .button {
    width: 64px;
    height: 64px;
    padding: 0;
    color: white;
}

@media (max-width: 750px) {
	.navbar {
    justify-content: center;
	}
}

.navbar-item {
	width: calc(var(--navbar) * 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-button {
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
}
