.game-text {
    font-size: 24px;
}

.game-description {
    max-width: 45vw;
    min-width: 300px;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.game-url {
    width: 400px;
    margin: 0 auto;
    font-size: 16px;
}


.game-thumbnail-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.game-thumbnail-container {
    border-radius: 10px;
}

.game-thumbnail {
    max-width: 100%;
    height: auto;
}


.game-thumbnail-placeholder {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: black;
    opacity: 0.5;
}

.game-thumbnail-placeholder-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.game-play-button {
    font-size: 50vh;
    color: white;
}