[Unit]
Description=Flask Backend Server
After=network.target

[Service]
User=www-data
ExecStart=/usr/bin/python3 /opt/mano-aloe/backend/manage.py runserver

[Install]
WantedBy=multi-user.target
