.video-container {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
    background-attachment: fixed;
}

@media (max-width: 900px) {
    .video-container {
        height: 50vh;
    }
}

.video-tag {
    width: 100%;
    height: 100%;
    float: left;
}

.wrapper-overlay {
    padding: 2rem;
}
