.gallery-section {
    --card-height: 550px;
    --card-width: var(--card-height);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-gap: 1rem;
    gap: 1rem;
}

@media (max-width: 650px) {
    .gallery-section {
        --card-width: 100%;
    }
}
