.in-page-nav {
    min-width: 50vw;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    box-sizing: border-box;
    padding: 0 5vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    font-size: 2.125rem;
    color: white;
}
