body {
  background-color: #282c34;
}

.separator {
	height: 40px;
	width: 100%;
	background-color: #dc4087;
}

.title {
	position: relative;
	top: 15px;
	left: 15px;
	font-size: 50px;
	padding: 10px;
	background: #581e77;
}

.title-wrapper {
	position: absolute;
	background: #29222f;
	left: 0;
	top: 20%;
}

.logo-tag-right {
  float: right;
  position: absolute;
  right: 5vmin;
  top: 20%;
  z-index: 1000;
}

.main {
	background-image: url(./assets/App-root-bg.svg);
	background-color: "#29222f";
  background-attachment: fixed;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

