body {
  background-color: #282c34;
}

.wrapperOverlay {
  margin-top: -30vw;
  text-align: center;
}

.background-img {
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1538367999111-0d6c7fb0299f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: top;
}

/* width and height are set to maintain original Youtube dimensions */
.video-tag-left {
  float: left;
  position: absolute;
  z-index: 1000;
  width: 30.57vw;
  height: 17.19vw;
}

.logo-tag-right {
  float: right;
  position: absolute;
  right: 5vmin;
  top: 20%;
  z-index: 1000;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
