body {
    background-color: #282c34;
}

.community-message-card {
    background-image: url(assets/cards/card2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    margin-top: 2rem;
    width: 50%;

    background-color: #fd438c;
    color: #fff;
    font-size: 25px;
}

@media (max-height: 800px) {
    /*Handle mobile layouts since everything is freaking tiny*/
    .community-message-card {
        margin-top: 12vh;
    }
}

@media (max-width: 900px) {
    .community-message-card {
        width: 90%;
    }
}

@media (min-width: 900px) {
    .community-message-card {
        position: relative;
        left: -20vw;
    }
}

.community-message-header {
    padding-top: 14%;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

.community-message-body {
    padding: 20px;
}

.anchor-link {
  position: absolute;
  /*make smaller than separator*/
  padding-top: 1px;
  height: 35px;
  width: 35px;
  left: 0;
  right: 0;
  margin: auto;

  transition: all 0.25s ease;
}

.main {
    background-image: url(assets/backgrounds/App-root-bg.svg);
    background-color: #a7bee3;
    background-repeat: repeat;
    min-height: 100vh;
    background-size: 100%;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
