body {
    margin: 0;
    font-family: 'Lato', 'Sawarabi Gothic', 'Cairo', 'Prompt', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: white;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0);

    transition: all 0.1s ease;
}

a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}
