body {
  margin: 0;
  font-family: Lato,  Cairo, Prompt ;
  /*these three cause layout problems in chrome, requires further investigation*/
  /*Sawarabi Gothic, Noto Sans, sans-serif*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
